.span3.sidebar
  %p#notice= notice

  - if @page
    %h3= @page.title
  -else
    %h3 Page not found

  = link_to :random, random_page_wiki_path(@wiki), links: true
  %input#page_title.typeahead{placeholder: 'Find Page'}
  %button#goto_page
    Go

  - if @page
    %p
      %label{name: :auto}
        Reset
      = button_to_function :reset, 'window.init()'

      %br

      %label{name: :auto}
        Manual
      %input{name: :auto, type: :radio, value: "", checked: :checked}
      = button_to_function :step, 'graph.add_next()'

      %br

      %label{name: :auto}
        Auto
      %input{name: :auto, type: :radio, value: "on"}

      %label{name: :interval}
        Delay
      %input{name: :interval, type: :range, value: 1000, max: 1000, min: 1, step: 1}

  #show_page

.span9.graph-area

  #graph


- if @page
  :javascript
    $(function() {
      window.wiki = '#{@wiki.title}'
      root_node = '#{@page.id}'
      window.init(root_node)
      window.update()
      window.show_page(root_node)
    })
