<!DOCTYPE html>
<html>
<head>
  <title>WikiGraphMysql</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script SRC ="http://dl.dropboxusercontent.com/u/17949100/jsnetworkx.js"> </script>

</head>
<body>

<%= yield %>

</body>
</html>
